parameters:
	ignoreErrors:
		-
			message: '#^Method Contoweb\\AbacusApi\\AbacusODataQueryBuilder\:\:get\(\) should return Contoweb\\AbacusApi\\Batch\\BatchRequestItem\|Illuminate\\Support\\Collection\<int, Contoweb\\AbacusApi\\Models\\AbacusModel\> but returns Illuminate\\Support\\Collection\<\(int\|string\), object\>\.$#'
			identifier: return.type
			count: 1
			path: src/AbacusODataQueryBuilder.php

		-
			message: '#^PHPDoc tag @return contains generic type Contoweb\\AbacusApi\\AbacusODataQueryBuilder\<static\(Contoweb\\AbacusApi\\Models\\AbacusModel\)\> but class Contoweb\\AbacusApi\\AbacusODataQueryBuilder is not generic\.$#'
			identifier: generics.notGeneric
			count: 6
			path: src/Models/AbacusModel.php
